html, body, section {
	font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
	position: relative;
	overflow-x: hidden;
	padding-bottom: 50px;
}

.navbar-inverse .navbar-nav li a {
	font-size: 18px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
}

li.active {
	background-color: #444;
}

.glyphicon-hand-right {
	margin-right: 5px;
	top: 2px;
}

/*
parallax design by: http://callmenick.com/_development/simple-parallax-effect/
*/

section {
	display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

section.module p {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 300;
}

p.margin-reduce {
	margin-bottom: 10px !important;
}

.keywords {
	font-size: 18px;
	margin-left: 100px;
	margin-bottom: 0;
}

.keywords li {
	list-style-type: none;
}

.keywords li:before {
	font-family: "FontAwesome";
	content: "\f164";
	margin: 0 10px 0 -15px;
	color: #333;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
}

section.module.parallax {
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 1);
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
	letter-spacing: 6px;
  line-height: 400px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin: 0;
  z-index: 2;
}

.opacity {
	background: #000;
	overflow: hidden;
}

section.module.parallax-1 {
  background-image: url(images/matt10_s.jpg);
  opacity: 0.9;
}

section.module.parallax-2 {
  background-image: url(images/matt14_s.jpg);
  opacity: 0.8;
}

section.module.parallax-3 {
  background-image: url(images/matt04_s.jpg);
  opacity: 0.8;
}

section.module.parallax-4 {
  background-image: url(images/matt15_s.jpg);
  opacity: 0.8;
}

section.footer h4 {
	font-size: 14px;
}

/* end parallax */

/* 
Interactive timeline by: http://codepen.io/tutsplus/pen/QNeJgR
*/

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin-left: 20px;
  padding-top: 50px;
  background: #535166;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #535166;
}

.timeline ul li div {
  position: relative;
  color: #ccc;
  font-size: 18px;
  bottom: 0;
  width: calc(100vw - 91px);
  padding: 15px;
  background: #1d1123; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #1d1123 0%, #535166 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #1d1123 0%,#535166 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #1d1123 0%,#535166 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1123', endColorstr='#c065ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #1d1123 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: 45px;
}

.timeline ul li:nth-child(even) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #1d1123 transparent transparent;
}

time {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeline ul li::after {
  transition: background 1.2s ease-in-out;
}

.timeline ul li.in-view:nth-child(odd)::after {
  background: #1d1123;
}

.timeline ul li.in-view:nth-child(even)::after {
  background: #535166;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .8s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* end timeline */

.image-stack {
	padding: 40px;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    margin-right:-4px;
}

/* 
Hover effect by https://miketricking.github.io/dist/
*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover h2 {
	text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* end hover effect */

.btn {
	margin: 34px;
}

.btn-social-icon {
	position:relative;
	padding-left:44px;
	text-align:left;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	height:75px;
	width:75px;
	padding:0
}

.btn-social-icon:visited, .btn-social-icon:focus {
	color: #fff;
}

.btn-social-icon :first-child{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:34px;
	line-height:75px;
	text-align:center;
	border-right:1px solid rgba(0,0,0,0.2)
}
.btn-social-icon :first-child{
	border:none;
	text-align:center;
	width:100% !important}

.btn-facebook{
	color:#fff;
	background-color:#3b5998;
	border-color:rgba(0,0,0,0.2)
}

.btn-facebook:hover {
	color:#fff;
	background-color:#30487b;
	border-color:rgba(0,0,0,0.2)
}

.btn-github {
	color:#fff;
	background-color:#444;
	border-color:rgba(0,0,0,0.2)
}

.btn-github:hover {
	color:#fff;
	background-color:#303030;
	border-color:rgba(0,0,0,0.2)
}

.btn-codepen {
	color:#fff;
	background-color:#000;
	border-color:rgba(0,0,0,-0.2);
}

.btn-codepen:hover {
	color:#fff;
	background-color:#303030;
	border-color:rgba(0,0,0,0.2);
}

.btn-google-plus {
	color:#fff;
	background-color:#0067A5;
	border-color:rgba(0,0,0,0.2)
}

.btn-google-plus:hover {
	color:#fff;
	background-color:#0077B5;
	border-color:rgba(0,0,0,0.2)
}

#end-content {
	max-height: 525px;
}

.footer {
	max-height: 100px;
	padding-top: 20px;
}

.contact {
	list-style-type: none;
	font-size: 18px;
	margin-left: 50px;
	padding-bottom: 20px;
}

.contact li {
	padding: 10px 0;
}

.email:before {
	font-family: "FontAwesome";
	content: "\f0e0";
	color: #5D5483;
	margin: 0 10px 0 -15px;
}

.telUS:before {
	font-family: "FontAwesome";
	content: "\f095";
	color: #AE7353;
	margin: 0 10px 0 -15px;
}

.telRO:before {
	font-family: "FontAwesome";
	content: "\f095";
	color: #547E7C;
	margin: 0 10px 0 -15px;
}

.pdf:before {
	font-family: "FontAwesome";
	content: "\f1c1";
	color: red;
	margin: 0 5px;
}

@media (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
	.keywords {
		font-size: 20px;
	}
  section.module.parallax {
  	height: 800px;
	}
  section.module.parallax-1 {
  	background-image: url(images/matt10.jpg);
	}
  section.module.parallax-2 {
  	background-image: url(images/matt14.jpg);
	}
  section.module.parallax-3 {
  	background-image: url(images/matt04.jpg);
	}
  section.module.parallax-4 {
  	background-image: url(images/matt15.jpg);
	}
  section.module.parallax h1 {
    font-size: 96px;
	  line-height: 800px;
  }
	section.footer h4 {
		font-size: 18px;
	}
	.contact {
		font-size: 20px;
	}
}

@media (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
	section.module p {
		font-size: 24px;
	}
	.keywords {
		font-size: 24px;
		margin-right: 30px;
	}
	.timeline ul li {
		margin: 0 auto;
	}
	.timeline ul li div {
		width: 400px;
	}
	.timeline ul li:nth-child(even) div {
		left: -439px;
	}
	.timeline ul li:nth-child(even) div:before {
		left: auto;
		right: -15px;
  	border-width: 8px 0 8px 16px;
  	border-color: transparent transparent transparent #535166;
	}
	.contact {
		font-size: 24px;
	}
}
